<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>ex</title>
	<link rel="stylesheet" href="" th:href="@{/css/xyz.css}" />
</head>
<body>
<img src=""  class="images" th:src="@{/image/profile.jpg}" alt="" />
<div class="container">

<h1>hiiiii........</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum esse ab totam delectus eaque! Nam cum dolorum temporibus totam a hic assumenda dolore sint libero voluptate accusamus dolorem necessitatibus iste. Dolor adipisci repellendus ducimus similique corporis iusto sit fuga sint vel eius vitae tempore dignissimos quam dolorem ipsa! Id repellat!</p>
	</div>
	
	
	<script src="" th:src="@{/js/xyz.js}"></script>
</body>
</html>